.banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 90vh;
	margin-top: 70px;
	position: relative;
}

.bannerSlide {
	width: 100%;
	position: absolute;
	display: flex;
	align-items: center;

	.bannerText {
		width: 60%;
	}
	.bannerImg {
		width: 40%;
	}
	span {
		background-color: #df5a38;
		padding: 5px 10px;
		border-radius: 10px;
		color: white;
	}

	h1 {
		margin-top: 20px !important;
		margin-bottom: 30px;
		font-size: 50px;
		font-weight: 500;
		width: 80%;
	}

	p {
		font-weight: 400;
		width: 80%;
		line-height: 30px;
	}
}

@media screen and (max-width: 600px) {
	.banner {
		margin: 40px 0;
		.bannerSlide {
			flex-direction: column !important;
		}
		.bannerText {
			margin-top: 50px !important;
			text-align: center;
			width: 100%;
			margin-bottom: 30px;
		}
		.bannerImg {
			width: 90%;
			margin-top: 20px;
		}

		span {
			display: none;
		}

		h1 {
			margin-top: 10px;
			margin-bottom: 15px;
			font-size: 25px;
			font-weight: 700;
			width: 100% !important;
		}

		p {
			width: 99%;
			margin: auto;
		}
	}
}
