.container {
	display: flex;

	justify-content: space-between;
	padding: 30px 5rem;

	ul {
		display: flex;
		justify-content: space-between;
		li {
			padding: 0 20px;
		}
		li:last-child {
			padding-right: 0;
		}
	}
}

.nav {
	box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.1);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	background-color: white;
	color: var(--primaryColor) !important;
}
