.container {
	display: flex;
	position: relative;
	justify-content: space-between;
	padding: 30px 5rem;
	align-items: center;

	svg {
		display: none;
	}
	ul {
		display: flex;
		justify-content: space-between;
		li {
			padding: 0 20px;
		cursor: pointer;
		}
		li:last-child {
			padding-right: 0;
		}
	}
}

.nav {
	box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.02);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	background-color: white;
	color: var(--primaryColor) !important;
}

@media screen and (max-width: 600px) {
	.container {
		padding: 20px;
		svg {
			display: inline-block;
		}
		.mobileNav{
			display: block;
		}

		ul {
			display: none;
			flex-direction: column;
			position: absolute;
			top: 60px;
			left: 0;
			width: 100%;
			background-color: white;
			padding: 20px 0;
			box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.1);
			 li{
				padding: 10px 0px;
				text-align: center;
			 }
		}
		
	}
}
