.block {
	padding: 30px;
	padding-bottom: 0;
	text-align: center;
	align-items: center;
	border-radius: 10px;
	background-color: white;
	backdrop-filter: blur(10px);
	position: relative;

	li {
		font-size: 20px;
		padding-bottom: 20px;
		text-transform: capitalize;
	}
	ul {
		margin: 20px 0;
	}
	h3 {
		font-size: 25px;
	}
}
// .block::before {
// 	position: absolute;
// 	content: " ";

// 	top: 100%;
// 	left: 0;
// 	width: 100%;
// 	height: 4%;
// 	transform: perspective(1rem) rotateX(40deg) scale(1, 0.35);
// 	filter: blur(1.2rem);
// }

.block:nth-child(1)::before {
	background-color: #e60d43;
}

.block:nth-child(2)::before {
	background-color: #34df91;
}
.block:nth-child(3)::before {
	background-color: #776bf8;
}
.block:nth-child(4)::before {
	background-color: #f77961;
}

.block:nth-child(1) {
	// border-left: 2px solid rgb(230, 13, 67);
	box-shadow: 2px 7px 5px 0px rgba(230, 13, 67, 0.2);

	h3 {
		color: #e60d43;
	}
}

.block:nth-child(2) {
	// border-bottom: 2px solid rgb(52, 223, 145);
	box-shadow: 2px 7px 5px 0px rgba(52, 223, 145, 0.2);
	h3 {
		color: #34df91;
	}
}

.block:nth-child(3) {
	// border-bottom: 2px solid rgb(119, 107, 248);
	box-shadow: 2px 7px 5px 0px rgba(119, 107, 248, 0.2);
	h3 {
		color: #776bf8;
	}
}

.block:nth-child(4) {
	// border-bottom: 2px solid rgb(247, 121, 97);
	box-shadow: 2px 7px 5px 0px rgba(247, 121, 97, 0.2);
	
	h3 {
		color: #f77961;
	}
}

.tech {
	margin: 100px 0;

	h1 {
		font-size: 30px;
		text-align: center;
		margin-bottom: 40px;
	}
}
